<div class="row" style="width: 100vw;height: 100vh;">
  <div class="col-md-7" style="border-right: 2px solid;">
    hi
  </div>
  <div class="col-md-5">
    <div class="row detailsPanel">
      <form [formGroup]="addStockForm" (ngSubmit)="addStockService.submitStockDetails(addStockForm.value)">
        <h5>Fill fill below to change the Stocks!!</h5>
        <div class="row stockName">
          <span>
            <i class="pi pi-info-circle" style="font-size: 3em"></i>
            <span class="ui-float-label">
              <input id="float-input" type="text" size="30" pInputText formControlName='stockName'>
              <label for="float-input">Name</label>
            </span>
          </span>
        </div>
        <div class="row stockValue">
          <i class="pi pi-dollar" style="font-size: 3em"></i>
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText formControlName='stockValue'>
            <label for="float-input">Value</label>
          </span>
        </div>
        <div class="row submitButton">
          <button [disabled]='!addStockForm.valid || addStockService.allStocksToSubmit.length==10'
            class="btn btn-success">SUBMIT</button>
        </div>
      </form>
    </div>
    <br><br>
    <div class="row finalSubmit">
      <button (click)="addStockService.submitAllStocks()" class="btn btn-danger">SUBMIT ALL STOCKS!!!</button>
    </div>
    <div class="row">
      <div *ngFor="let item of addStockService.allStocksToSubmit">
        <div class="card">
          <div class="row cardName">{{item.stockName}}</div>
          <div class="row cardValue">
            {{item.stockValue}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>