.mainPanel{
    width: 100vw;height: 100vh;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    

}
div.stockValue span, div.stockName span {
    display: inline-flex;
}

.detailsPanel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stockValue, .stockName {
    padding: 15px;
}

div.submitButton {
    float: right;
    margin-right: 2px;
}

div.finalSubmit {
    margin: auto;
}

div.finalSubmit button {
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.card {
    width: 150px;
    border: 0;
    border-radius: 5px;
    height: 80px;
    background: #d8ddde;
    margin: 10px;
}

.cardName {
    background: #303131;
    margin: 0;
    margin-top: 10px;
    color: #d8ddde;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cardValue {
    margin: 0;
    color: #303131;
    display: flex;
    justify-content: center;
    font-size: 25px;
    overflow: hidden;
}
table{
    margin: 10px;
    width: -webkit-fill-available;
}
table,th,td,tr{
    /* border: 1px solid black; */
    height: 50px;
    text-align: center;
}
th{
    background: #333334;
    color: #fff;
    /* font-family: -system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
    font-size: 20px;
    font-weight: 400;
    line-height: 1.35;
    font-family: fantasy;
}
tr:nth-child(even) {background-color: #ffffff;}
tr:nth-child(odd) {background-color: #f5f5f5;}
td:hover{
    cursor: pointer;
}
.upColor{
    background:#4ca64c;
}
.downColor{
    background: #ff4c4c
}
.baseColor{
    background: #7f7f7f;
}
.upColor,.downColor,.baseColor{
    color: black;
}
.formBox{
    margin: 10px;
    padding: 15px;
    background: ghostwhite;
    border-radius: 20px;
}
p-dialog .ui-dialog{
    top: 150px !important;
}
p-dialog div.ui-dialog div.ui-dialog-titlebar span{
    font-size: 20px;
    font-weight: 700;   
}
p-dialog div.ui-dialog div.ui-dialog-titlebar a{
    font-size: 30px;
}